body {
    background: url("blue.jpg") no-repeat center center fixed;
    min-width: 100%;
    min-width: 100%;
    /* background-position: top; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#timedate {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Courier New";
    font-weight: bold;

    padding-top: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;

    text-shadow: 0.25vh 0.25vh #ffffff, -0.25vh 0.25vh #ffffff, 0.25vh -0.25vh #ffffff, -0.25vh -0.25vh #ffffff;

}

#clock {
    font-size: 15vh;
}

#date {
    font-size: 7.5vh;
    text-align: center;
}

#weather {

    float: right;
    max-width: 25vw;
    min-width: 25vw;
    padding-top: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    opacity: 0.65;
    border-radius: 0.5vh

}

#aqi {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
}

#imagename {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2vh;
    text-shadow: 0.15vh 0.15vh #ffffff, -0.15vh 0.15vh #ffffff, 0.15vh -0.15vh #ffffff, -0.15vh -0.15vh #ffffff;
}

#preloadimg {
    opacity: 0;
    max-width: 25vw;
    min-width: 25vw;
    top: 0;
    left: 0;

}
