img {
    /* position: center;
    object-fit: cover;
    width: auto;
    height: auto; */
    background-image: url("testimages/960x0.jpg");
    position: fixed;
    min-width: 100%;
    min-width: 100%;
    background-position: center;
    background-size: cover;
}
